.android-icon{
    color: #A4C739;
    font-size: 20px;
}

.ios-icon{
    color: #A6B1B7;
    font-size: 20px;
}

.cobe-icon{
    /*color: #00A3CB;*/
    font-size: 17px;
}

.desktop-icon{
    font-size: 15px;
}

.html5-icon{
    color: #F16528;
    font-size: 20px;
}

.wp-icon{
    color: #E81123;
    font-size: 20px;
}
.firefox-icon{
    width: 22px;
}

.label-developer {
    background-color: #5cb85c;
}

.label-admin {
    background-color: #FFC414;
}

.label-client {
    background-color: #5bc0de;
}

.label-owner {
    background-color: #428bca;
}

.label-enterprise {
    background-color: #ffaf00;
}

.label-bitrise {
    background-color: #3BC3A3;
    margin-right: 5px;
}

.label-deployer {
    background-color: #3BC3A3;
    margin-right: 5px;
}

.label-adhoc{
    background-color: #999999;
}

.label-notinstalled{
    background-color: #9E9E9E;
}

.label-installed{
    background-color: #5cb85c;
}

.label-branch{
    background-color: #e4b9c0;
    margin-right: 5px;
}

.label-god {
    background-color: #001F3F;
}

.label-employee {
    background-color: #999999;
}

.label-float {
    position: relative;
    top: 10px;
}

.label-feedback {
    background-color: #39CCCC;
}

.label-bug {
    background-color: #F56954;
}

.appicon-list{
    width: 40px;
    margin-right: 5px;
}

.appicon-menu{
    width: 50px;
    margin-top:5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.appicon-responsive-list{
    height: 80px;
}

.appicon-detail{
    width: 100px;
}

.appicon-detail-min{
    width: 20px;
}

.appicon-detail-big{
    width: 200px;
}

.btn-sm-applivery{
    padding: 1px 7px;
}

.btn-sm-csv{
    height: 32px;
    margin-right: 5px;
}

.tooltip-inner {
    white-space:pre-wrap;
}

.searchMemberList {
    cursor: pointer !important;
    display: block;
}

.bootstrap-tagsinput { width: 100%; }

.versionTagClass{
     background-color: #5cb85c;
 }

.member-avatar-list {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 50%;
}

.member-avatar-list-center {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.member-avatar-list-small {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.member-avatar-profile {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.members-selection-box{
    height: 150px;
    border: 1px solid #A6B1B7;
    padding: 5px 5px;
    overflow: scroll;
}

.member-selection-item{
    cursor: pointer;
    clear: both;
    padding-top: 2px;
}

.invite{
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: #367fa9;
    border-radius: 50%;
    cursor: pointer;
    right: 30px;
    bottom: 40px;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    z-index: 2000;
}

.invite-bnt{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-left: 23px;
    margin-top: 22px;
    transition: All 0.5s ease;
}

.invite-bnt:hover{
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
}

tr:hover {
    background-color: #f9f9f9 !important;
    cursor: pointer;
}

.datetime{
    color: darkgrey;
}

.submenuitem{
    color: #555555;
    line-height:25px;
}

.submenuitem:hover{
    color: #000;
}

.submenuitem-selected{
    color: #000;
    line-height:25px;
    font-weight: bold;
}

.submenu-link{
    margin-left: 5px;
}

.login-error-msg{
    color: #f56954;
    text-align: center;
}

.beta{
    font-size: 14px;
}

.beta-sm{
    font-size: 12px;
}

.notInstalled {
    color: #999999;
}

.installed {
    color: #5cb85c;
}

.box-loader{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 50px;
    margin-left: -25px;
    margin-top: -25px;
    color: darkgrey;
}

.text-dark {
    color: #444444 !important;
}

.mandatory-field {
    color: red;
}

.circle-avatar{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.avatar-medium{
    width: 65px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-small{
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.avatar-2x{
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid;
    border-color: rgba(255, 255, 255, 0.2);
}

.avatar-list{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-floating{
    position: absolute;
}

.membersList{
    margin-right: 10px;
}

.inputCopy{
    border: 0px;
    width: 300px;
    background-color: #f9f9f9;
    text-align: center;
}

.inputCopyLeft{
    border: 0px;
    width: 300px;
    background-color: #f9f9f9;
    text-align: left;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.monkopUpload{
    margin-top: 10px;
    width: 100px;
}

.dropdownUpload{
    position: relative;
    margin-right: 10px;
    margin-top: -45px;
    font-size: 20px;
}

.dropdownMoreSettings{
    cursor: pointer;
}

.companyLogo{
    max-width: 150px;
    margin-top: -5px;
    max-height: 40px;

}

.platformIcons{

}

.site-preview{
    width: 100%;

    border: 0px;
    height: 490px;
}

.dots{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 3px;
}

.clickable{
    cursor: pointer;
}

/*.clickable:hover{

    background-color: #F4F4F4;

}*/

.box.highlighted{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.box.selectable:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.boxSelected{
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}

.iphone6mock{
    margin: 60px auto;
    width: 323px;
    height: 649px;
    background-image: url("/img/iphone6.png") ;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 72px;
    padding-left: 18px;
}

.nexus5mock{
    margin: 60px auto;
    width: 323px;
    height: 640px;
    background-image: url("/img/nexus.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 58px;
    padding-left: 18px;
}

.iphoneMock{
    margin: 0px auto;
    width: 323px;
    height: 649px;
    background-image: url("/img/iphone6.png") ;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 72px;
    padding-left: 18px;
}

.androidMock{
    margin: 0px auto;
    width: 323px;
    height: 640px;
    background-image: url("/img/nexus.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 58px;
    padding-left: 18px;
}

.preview-screen-ios{
    width: 286px;
    height: 503px;
    background: #000;
}

.preview-screen-android{
    width: 286px;
    height: 510px;
    background: #000;
}

.preview-frame-ios{
    width: 286px;
    height: 503px;
}

.mobile-preview{
    width: 100%;
    height: 100%;
}

.preview-frame-android{
    width: 286px;
    height: 510px;
}

.member-avatar-header {
    height: 80px;
    padding: 2px;
    background: #F9F9F9;
    text-align: center;
}

.siteON{
    background-color: #5cb85c;
}

.siteOFF{
    background-color: #f56954;
}

.sdkON{
    background-color: #5cb85c;
}

.sdkOFF{
    background-color: #f56954;
}

.inputHidden{
    height: 0;
    width: 0;
}

.installations{
    max-height: 350px;
    overflow: auto;
}

.notifications-text{
    white-space: normal;
    display: table-cell;
    vertical-align: middle;
    height: 51px;
    padding-right: 5px;
}

.notifications-icon{
    float: left !important;
}

.applivery-modal-lg{
    width: 1000px !important;
}

.screenshotImg{
    width: 250px;
}

.siteCustomDomain {
    width: 50% !important;
}

.siteSlugStandard {
    width: 90% !important;
}

.siteSlug {
    width: 40% !important;
}

.no-link{
    color: #000;
}

.no-link:hover{
    color: #000;
}

.integration{
    width: 25px;
}

.integration-big{
    width: 50px;
}

.table-filter{
    width: 200px;
}


/* ON OFF */
.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 20px; padding: 0; line-height: 20px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #2196F3;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.dark-hr{
    border-top: 1px solid #ccc !important;
}

.social-icon{
    font-size: 1.6em!important;
}

.separator-line{
    width:100%;
    text-align:center;
    border-bottom: 1px solid #ccc;
    line-height:0.1em;
    margin: 30px 0 30px;
}

.separator-text{
    padding: 0 10px;
    background-color: #EAEAEC;
}

.header-logo-img{
    width: 40px;
    margin-top: -4px
}

.tr-white:hover {
    background-color: #fff !important;
    cursor: default;
}

.droppable{
    height: 100px;
    background-color: #F4F4F4;
    color: #000;
    padding: 100px 0;
    text-align: center;
    border: 2px dashed #333
}

.droppable.dragover{
    background: #d9d9d9;
}





.file-area {
  width: 90%;
  position: relative;
  background-color: #FAFAFA;
  border: 2px dashed #999;
  margin-bottom: 10px;
}
.file-area input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.file-area .file-dummy {
  width: 100%;
  height: 150px;
  padding-top: 30px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: background 0.2s ease-in-out;
}
.file-area .file-dummy .success {
  display: none;
}
.file-area:hover .file-dummy {
  background: #EFEFEF;
}
.file-area input[type=file]:focus + .file-dummy {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline: -webkit-focus-ring-color auto 5px;
}
.file-area input[type=file]:valid + .file-dummy {
  border-color: #cbf9e4;
  background-color: #cbf9e4;
}
.file-area input[type=file]:valid + .file-dummy .success {
  display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
  display: none;
}
.dragover {
    background-color: #EFEFEF;
    transition: background 0.2s ease-in-out;
}
.invalidFile {
    background-color: #FDF0F0 !important;
    transition: background 0.2s ease-in-out;
}